.formulario--enviar {
    font-family: 'Raleway', sans-serif;
    background: #2A7AE4;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 32px 0px;
    color: white;
}