.sobre--mi--redes--sociales {
    display: flex;
    margin-right: 1.375rem;    
}

@media screen and (max-width: 768px) {
    .sobre--mi--redes--sociales{
    margin-left: 0rem;
    margin-top: 0rem;
    padding-top: 0rem;
    }
}