.sobre--mi--imagen--foto {    
    border-radius: 50%;
    max-width: 12.5rem 12.5rem;
    border: 0.125rem solid #F5F5F5;
 }

 @media screen and (max-width: 360px) {
    .sobre--mi--imagen{
    padding-top:1.125rem;
    width: 6.5rem;
    height: 6.5rem;
    }
}

 @media screen and (max-width: 768px) {
    .sobre--mi--imagen--foto{
        width: 6.125rem;
        height: 6.125rem;
    }
}
